<div class="h-[100vh] bg-[#2A3139] w-[77px]  flex flex-col">
  <div class="w-[58px] h-[45px] bg-center bg-no-repeat bg-cover cursor-pointer m-[10px]"
       [ngStyle]="{'background-image': 'url(' +'assets/photos/logo.svg' + ')'}"></div>
  <div class="flex flex-col items-center  pt-[40px] ">
    <div (click)="isActive = 1" class="flex  items-center justify-center cursor-pointer w-[100%] relative mb-[43px]">
      <div *ngIf="isActive === 1" class="w-[3px] h-[77px] bg-[#189541] absolute left-0 rounded-r"></div>
      <div class="flex flex-col w-[100%] items-center ">
        <img src="assets/photos/ball.svg" width="30" height="30" alt="">
        <img class="mt-[10px]" src="assets/photos/sports.svg" width="43" height="14" alt="">
      </div>
    </div>

    <div (click)="isActive = 2" class="flex  items-center justify-center cursor-pointer w-[100%] relative mb-[43px]">
      <div *ngIf="isActive ===2" class="w-[3px] h-[77px] bg-[#189541] absolute left-0 rounded-r"></div>
      <div class="flex flex-col w-[100%] items-center ">
        <img src="assets/photos/live.svg"  alt="">
      </div>
    </div>

    <div (click)="isActive = 3" class="flex  items-center justify-center cursor-pointer w-[100%] relative mb-[43px]">
      <div *ngIf="isActive === 3" class="w-[3px] h-[77px] bg-[#189541] absolute left-0 rounded-r"></div>
      <div class="flex flex-col w-[100%] items-center ">
        <img src="assets/photos/slots.svg"  alt="">
      </div>
    </div>
    <div (click)="isActive = 4" class="flex  items-center justify-center cursor-pointer w-[100%] relative mb-[43px]">
      <div *ngIf="isActive === 4" class="w-[3px] h-[77px] bg-[#189541] absolute left-0 rounded-r"></div>
      <div class="flex flex-col w-[100%] items-center ">
        <img src="assets/photos/casino.svg"  alt="">
      </div>
    </div>
  </div>

</div>
